<div class="sidenav">
    <a href="business/{{statement.accountId}}">Home</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
<div>
    <div style="display: block">
      <div class="charttitle">
        
        <h3>Bar Chart Expense vs Sales</h3>
      </div>
      
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>